.wrapper{
    display:flex;
    
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
   

    .header-content-wrapper{
    flex:100%;
    padding: 0 20px 20px 20px;
    
    }

.content-wrapper{

padding:40px;


.top-part{
    display:flex;
    align-items: center;
    justify-content: space-between;

    .left-part{
        flex:4;
        display:flex;
        align-items: center;
        justify-content: space-between;
        

        .two-left-widgets{
            margin-right:15px;

}
        
        
    }

    .right-part{
        flex:6;




    }
}

.bottom-part{
    display:flex;
    align-items: center;
    justify-content: space-between;

    .table{
        flex:4;
    }

    .pie-chart{
        flex:2;
    }





}

}




}