.wrapper{
    display:flex;
    
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
   

    .header-content-wrapper{
    flex:4;
    padding: 0 20px 20px 20px;
    
    }




}