
.sidebar-wrapper.collapse{
width:10px !important;
flex:100px;
}

.sidebar-wrapper{
transition:all 0.3s ease;
    flex:330px;
    height:100vh;
 
   background-image: url("https://wallpapercave.com/wp/fvaX5z9.jpg");
  
background-size:cover;

  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.884);
overflow:auto;
padding-top:30px;

.more-sidebar.collapse{
  position:relative;
  left:33%;
}

.more-sidebar{
  background-color: rgba(255, 250, 250, 0.863);
  position:relative;
  left:200px;
  cursor:pointer;
   transition:all 0.3s ease;
  padding:4px;
  width:25px;
  height:25px;
   border-radius: 50%;

   &:hover{
    background-color: rgba(163, 147, 255, 0.979);
    
   

  }
}

.name-person.collapse{
display:none;
 }

.name-person{
  display:flex;
  flex-direction:column;
  align-items:center;



  .sidebar-image{
    width:70px;
    height:70px;
    border-radius:50%;
    margin-bottom:15px;
    border:2px solid cornflowerblue;
  
  }

  .sidebar-name{
    font-size:14px;
    color:whitesmoke;
    border-bottom:1px solid gray;
    padding-bottom:5px;
    margin-bottom:5px;
  }

  .sidebar-title{
    font-size:14px;
    font-weight:bold;
    color:whitesmoke;
  }

}

.logo-div.collapse{
  display:none;
}

.small-logo{
  display:none;
}

.small-logo.collapse{
  display:contents;
}

  .logo-div{
      font-weight:600;
      font-size:30px;
      margin:20px 0 20px 0;
      display:flex;
      flex-direction: column;
      align-items: center;

      .small-logo{
        display:none;
       
      }
      
      .small-logo.collapse{
        display:contents;
       
      }
      

      .logo-link{
        color:rgb(50, 47, 252) !important;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
      }

      .sub-name{
        color:rgb(82, 82, 82);
        font-size:14px;
      }
  }

  .item-wrapper{
   
    color:whitesmoke;
    
  

    .section-name{
      color:rgb(100, 100, 100);
      font-weight:bolder;
      font-size:20px;
      margin-bottom:10px;
      font-variant: small-caps;
    }


    .list-item-wrapper{
      list-style: none;
      padding-left: 15px;
      
      

    .list-item-wrapper-list {
      padding:15px;
      cursor:pointer;
      display:flex;
      align-items:center;
      justify-content: space-between;
      

        .icons{

          margin-right:8px;
        }
     
      

&:hover{
  background:cadetblue;
}


.toggle{
  transition:transform 0.3s;
}
    }



.list-item-wrapper-list.open{


  .toggle.open{
      transform:rotate(90deg);
    }




    
  }


  .submenu-wrapper{
      display:none;
      transition:display 2s;
      
    
      .sub-menu-items{
      margin-left:30px;
      padding:12px;
      cursor: pointer;
 

     }

       
}

      .submenu-wrapper.open {
       display:contents;

      }

      

      


    }
  }



}
